<%# ビューは app/views/コントローラー名ディレクトリに格納%>
<%# ファイル名は アクション名.html.erb よって app/views/posts/new.html.erb %>

<h1>新規投稿ページ</h1>

<%#text_field:1行目のテキストボックス・password_field:パスワード入力ボックス%>
<%#check_box:チェックボックス(複数選択可)・radio_button:ラジオボタン(複数から一つのみ選択)%>
<%#summit:送信ボタン%>

<%= form_with url: "/posts", method: :post, local: true do |form| %>
  <%= form.text_field :content %>
  <%= form.submit '投稿！' %>
<% end %>
  